@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/User_DataLayout.cshtml";
}

<div class="container d-lg-flex">
    <div class="box-1 bg-light user">
        <div class="d-flex align-items-center mb-3">
            <img src="https://images.pexels.com/photos/4925916/pexels-photo-4925916.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                 class="pic rounded-circle" alt="">
            <p class="ps-2 name">Oliur</p>
        </div>
        <div class="box-inner-1 pb-3 mb-3 ">
            <div class="d-flex justify-content-between mb-3 userdetails">
                <p class="fw-bold">Lightroom Presets</p>
                <p class="fw-lighter"><span class="fas fa-dollar-sign"></span>33.00+</p>
            </div>
            <div id="my" class="carousel slide carousel-fade img-details" data-bs-ride="carousel"
                 data-bs-interval="2000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#my" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#my" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#my" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/image/room2.jpg"
                             class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="~/image/room1.jpg"
                             class="d-block w-100 h-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/image/double room.jpeg"
                             class="d-block w-100">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#my" data-bs-slide="prev">
                    <div class="icon">
                        <span class="fas fa-arrow-left"></span>
                    </div>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#my" data-bs-slide="next">
                    <div class="icon">
                        <span class="fas fa-arrow-right"></span>
                    </div>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p class="dis info my-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate quos ipsa
                sed officiis odio
            </p>
            <div class="radiobtn">
                <input type="radio" name="box" id="one">
                <input type="radio" name="box" id="two">
                <input type="radio" name="box" id="three">
                <label for="one" class="box py-2 first">
                    <div class="d-flex align-items-start">
                        <span class="circle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fw-bold">
                                    Collection 01
                                </span>
                                <span class="fas fa-dollar-sign">29</span>
                            </div>
                            <span>10 x Presets. Released in 2018</span>
                        </div>
                    </div>
                </label>
                <label for="two" class="box py-2 second">
                    <div class="d-flex">
                        <span class="circle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fw-bold">
                                    Collection 01
                                </span>
                                <span class="fas fa-dollar-sign">29</span>
                            </div>
                            <span>10 x Presets. Released in 2018</span>
                        </div>
                    </div>
                </label>
                <label for="three" class="box py-2 third">
                    <div class="d-flex">
                        <span class="circle"></span>
                        <div class="course">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <span class="fw-bold">
                                    Collection 01
                                </span>
                                <span class="fas fa-dollar-sign">29</span>
                            </div>
                            <span>10 x Presets. Released in 2018</span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <div class="box-2">
        <div class="box-inner-2">
            <div>
                <p class="fw-bold">Payment Details</p>
                <p class="dis mb-3">Complete your purchase by providing your payment details</p>
            </div>
            <form asp-action="card" asp-controller="Home">
                <div class="mb-3">
                    <p class="dis fw-bold mb-2">Expiration Date</p>
                    <input class="form-control" type="date" name="ExpiratonDate">
                </div>
                <div>
                    <p class="dis fw-bold mb-2">Card details</p>
                    <div class="d-flex align-items-center justify-content-between card-atm border rounded">
                        <div class="fab fa-cc-visa ps-3"></div>
                        <input type="text" class="form-control" placeholder="Card Details">
                        <div class="d-flex w-50">
                            <input type="text" class="form-control px-0" placeholder="MM/YY">
                            <input type="password" maxlength=3 class="form-control px-0" placeholder="CVV" name="CVV">
                        </div>
                    </div>
                    <div class="my-3 cardname">
                        <p class="dis fw-bold mb-2">Cardholder name</p>
                        <input class="form-control" type="text" name="CardHoldername">
                    </div>
                    <div class="address">
                       
                        <div class=" my-3">
                            <p class="dis fw-bold mb-2">VAT Number</p>
                            <div class="inputWithcheck">
                                <input class="form-control" type="text" name="CardNumber">
                                <span class="fas fa-check"></span>

                            </div>
                        </div>
                        <div class="d-flex flex-column dis">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>Subtotal</p>
                                <p><span class="fas fa-dollar-sign"></span>33.00</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p>VAT<span>(20%)</span></p>
                                <p><span class="fas fa-dollar-sign"></span>2.80</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <p class="fw-bold">Total</p>
                                <p class="fw-bold"><span class="fas fa-dollar-sign"></span></p>
                            </div>
                            <button type="submit">
                                <div class="btn btn-primary mt-2">
                                    Pay<span class="fas fa-dollar-sign px-1"></span>
                                </div>
                            </button>
                            
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>